@import 'https://fonts.googleapis.com/css?family=Open+Sans|Montserrat';
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #161616;
    color: #FFF;
    padding: 5px 0 15px 0;
}

.header h1 {
    font-size: 24px;
    margin-top: 0;
}

.header p {
    font-size: 16px;
}

.h3-more-space h3 {
    margin-top: 40px;
}

.text-highlight {
    font-weight: bold;
    text-decoration: underline;
}

.text-dim {
    opacity: 0.3;
}

.text-line-through {
    text-decoration: line-through;
}

.row.more-space {
    padding-top: 20px;
    padding-bottom: 20px;
}

.app-screen-frame {
    background-image: url("../img/Apple_iPhone_6s_Space_Gray.png");
    padding: 87px 34px 87px 34px;
    width: 290px;
    height: 565px;
    margin-right: auto;
    margin-left: auto;
}

.app-screen {
    width: 222px;
    height: 392px;
}

.app-screen.black {
    background-color: black;
}

.faded {
    opacity: 0.05;
}

.app-screen-frame + .text-over-app-screen {
    width: 250px;
    position: relative;
    top: -332px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* 100px is the height of the text and that's the amount of empty space
     it would otherwise occupy bellow the app screen frame */
    margin-bottom: -100px;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .row.equal-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
